<div class="site-forms">

<div id="thank_you">

<h1>Thank you for your order</h1>
<p>Your order will be processed soon.</p>
<p>Please use your user id <%= @order.user.id %> and order number <%= @order.id %> when corresponding with us.</p>
<p style="margin-top:10px;"><%= link_to 'Continue Shopping', :controller => :products %></p>
</div>

</div>