div#homepage {
  height:500px;
  background-image: url('tshirts.jpg'), 
                    url('Custom-Printed-T-Shirts.gif') ;
                    
    p{
      color:white;
      font-size:6em;
      font-family:'ProximaNovaLtLight';
      font-style:small-caps;
      text-shadow: black -4px 4px 0;
      text-align:center;
      padding:8px;
    }
}

