/*/////////////////// orders page //////////////////////////*/

.order-form{
  position:absolute !important;
  top:150px !important;
  left:500px !important;
}


/*/////////////////// orders page end //////////////////////////*/
