
/*/////////////////// products show styles //////////////////////////*/

.title a{color:#000;}

.sort-title{
  padding:20px;
  text-align: center;
  font-size:1.4em;
  color:#000 !important;
  text-decoration:underline;
}

.image{
  padding-top:20px;
  text-align: center;
}

.title{
  font-size:1.2em;
  color:#000 !important;
  text-align:center;
}

a.fancybox img{height:320px; width:240px;}

a#show-product img{
  height:430px;
  width:350px;
}

a.description{padding-bottom:20px;}


#float-fancybox-images{
  padding-left:200px;
  width:240px;
  height:1000px;
}

#float-fancybox-images img{
float:left;
padding-bottom:20px;
}

#product-text{
  position:absolute;
  left:500px;
  top:100px;
  width:230px;
}

.show-product-name{
  font-family: arial;
  font-weight:bold;
  font-size:1.2em;
  margin-bottom:10px;
}

.show-product-id{
  font-family: arial;
  font-size:1em;
  margin-bottom:10px;
  color:#808080;
}

.show-product-detail{
  font-family: arial;
  font-size:1em;
  margin-bottom:10px;
  line-height: 1.6em;
}

.show-product-price{
  font-family: arial;
  font-size:1em;
  margin-bottom:10px;
  line-height: 1.6em;
}

.show-product-color{
  font-family: arial;
  font-size:1em;
  margin-bottom:10px;
  line-height: 1.6em;
  font-weight:bold;
}

#addtocart-link1{
  position:absolute !important;
  top:220px !important;
  left:500px !important;
    font-family:EngraversGothic;
    font-size: 1.6em;
    background-color:#000;
  color:#fff;
  width:120px;
  height:25px;
  line-height:1.6em;
  text-align: center;
}

#addtocart-link1 a:link, a:visited, a:hover, a:active{
  text-decoration:none;
  color:#fff;
}

#addtocart-link2{
  position:absolute !important;
  top:250px !important;
  left:500px !important;
    font-family:EngraversGothic;
    font-size: 1.6em;
    background-color:#000;
  color:#fff;
  width:120px;
  height:25px;
  line-height:1.6em;
  text-align: center;
}

#addtocart-link2 a:link, a:visited, a:hover, a:active{
  text-decoration:none;
  color:#fff;
}

#addtocart-link3{
  position:absolute !important;
  top:280px !important;
  left:500px !important;
    font-family:EngraversGothic;
    font-size: 1.6em;
    background-color:#000;
  color:#fff;
  width:120px;
  height:25px;
  line-height:1.6em;
  text-align: center;
}

#addtocart-link3 a:link, a:visited, a:hover, a:active{
  text-decoration:none;
  color:#fff;
}

#addtocart-link4{
  position:absolute !important;
  top:220px !important;
  left:500px !important;
    font-family:EngraversGothic;
    font-size: 1.6em;
    background-color:#000;
  color:#fff;
  width:120px;
  height:25px;
  line-height:1.6em;
  text-align: center;
}

#addtocart-link4 a:link, a:visited, a:hover, a:active{
  text-decoration:none;
  color:#fff;
}

/*/////////////////// products show styles end //////////////////////////*/


/*////////////////// products Search styles ////////////////////////////*/

div.float-products{
  width:30%;
  margin-top:55px; 
  padding:0;
  margin-right:5%;
  float:left;
  img{
    @include border-mix-radius(40px);
    @include subtle-border;
    }
}

 /* products gallery */
.pagination{
  position:absolute;
  width:200px;
  top:80px;
  left:400px; 
}

#catalog{
  position:absolute;
  width:400px;
  top:150px;
  left:400px;
}

#catalog a img{
  position:relative;
  height:300px;
  margin-bottom:20px;
}

#catalog a:link{
  color:#000;
  text-decoration:none;
  font-family:Arial, "Helvetica Neue";
  text-align:center;
}

#catalog a:visited{
  color:#000;
  text-decoration:none;
}

#catalog a:hover{
  color:#000;
  text-decoration:underline;
}

#catalog a:active{
  color:#000;
  text-decoration:none;
}

#catalog th .current{
  padding-right:12px;
  background-repeat:no-repeat;
  background-position:right center;
}

#catalog th .asc{
  background-image:url(up_arrow.gif);
}

#catalog th .asc{
  background-image:url(down_arrow.gif);
}

#sorters a{
  font-family:arial !important; 
  font-size:1.2em !important;
  
}

/*////////////////// products Search styles end ////////////////////////////*/