<h1>Home#index</h1>


  
 
<img src="http://yourpartnerforchange.com/Lauren/wp-content/uploads/2009/10/the-scream-closeup.jpg" alt="scream" class="three columns">
<p class="hello">Find me in app/views/home/index.html.erb</p>