<div class="uploads">
  
  
  
  <div id="uploadsgallery">
  <% @ariaquenuploads.each do |ariaquenupload| %>
    <div class="float">
      <%= link_to (image_tag ariaquenupload.uploadedimage(:medium)), ariaquenupload %>
      
    </div>
  <% end %>
</div>
<% if current_user && current_user.admin = true %>
  <div class="new-upload">
    <%= link_to 'New Image', new_ariaquenupload_path %>
<% end %>
  </div>


</div>