<div class="site-forms">
  
  
  
  <% @ariaquenuploads.each do |ariaquenupload| %>
   
      <%= link_to (image_tag ariaquenupload.uploadedimage_url(:medium)), ariaquenupload %>
      
   
  <% end %>


 
    <%= link_to 'New Image', new_ariaquenupload_path %>

 


</div>