<div class="site-forms">
  

<div class="lookbook">
  
  
  <div id="gallery">
  <% @ariaquenuploads.each do |ariaquenupload| %>
     <div class="float">
      <%= link_to (image_tag ariaquenupload.uploadedimage_url(:medium)), ariaquenupload %>
      
     </div>
  <% end %>
</div>

    <div class="new-lookbook">
    	
      <%= link_to 'New Image', new_ariaquenupload_path %>
   
    </div>
   


</div>