
	<div id="affiliates-container">
		<div id="affiliates-headings">
			<p>SITE AFFILIATES</p>
			<br />
			<p>Select an Affiliate to See Their Photos</p>
		</div>
		<div id="user-wrap">
			<ul id="users"></ul>

		</div>
		<p id="feed"></p>
	</div>