	<div id="affiliates-container">
		<div id="affiliates-headings">
			<h2 id="manhead" class="fancy_title aff">SITE AFFILIATES</h2>
			<p>Select an Affiliate to See Their Photos</p>
		</div>
		<div id="user-wrap">
			<ul id="users"></ul>

		</div>
		<p id="feed"></p>
	</div>
	<p class="tri"></p>
	  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>

	          <script>
                 $(document).ready(function () {
                     $(".fancy_title").lettering().children("span").css({ 'display': 'inline-block', '-webkit-transform': 'rotate(-15deg)' });
                 });
             </script>
             <div class="tri"></div>
 
<section class="javascript_includes">
	
</section>
