<h1 class="fancy_title">Social Media</h1>
 <a class="twitter-timeline"  href="https://twitter.com/swanfield" data-widget-id="279957117404844032">Tweets by @swanfield</a>
        <ul style="list-style: none;">
        <li><a href="https://twitter.com/swanfield" class="twitter-follow-button" data-show-count="false">Follow @swanfield</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
        <li><div class="fb-follow" data-href="https://www.facebook.com/swanfield " data-layout="button_count" data-show-faces="true" data-width="450"></div></li>
        <li><a href="http://pinterest.com/USERNAME/"><img src="http://passets-lt.pinterest.com/images/about/buttons/pinterest-button.png" width="80" height="28" alt="Follow Me on Pinterest" /></a></li>
        </ul>
        </div>