<div id="openInfoBox" class="closed">
</div>

<div id="infoBox" class="open">
  <div id="closeInfoBox" class="open"></div>
  <h1>CATLEIDOSCOPE!</h1>
        <div id="catMenu">
              <div id="buttonIntro">CHANGE LE CAT<img src="Catleidoscope_files/thumbs/pointer.gif" /></div>
              <div id="buttonMeme"></div>  
              <div id="buttonLilbub"></div>  
              <div id="buttonGrumpy"></div>  
              <div id="buttonColonel"></div>  
              <div id="buttonMaru"></div>            
        </div>
  <h2>MADE BY <a href="#" target="_blank">@warcouncil</a></h2>


</div>

    <div class="kal_main">
        <div class="kal_cont">
          <div class="ks s1"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s2"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s3"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s4"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s5"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s6"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s7"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s8"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s9"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s10"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s11"><div class="ksc" style="background-position: 920px 399px;"></div></div>
          <div class="ks s12"><div class="ksc" style="background-position: 920px 399px;"></div></div>
        </div>
    </div>

<div style="bottom:0;position:fixed;">
	<hr style="clear:both;">
</div>
<div class="javascript_includes">
	
	
	  <%= javascript_include_tag "pages/cal.js" %>
</div>
