<div id="pageWrapper">
		<div id="mastHead">
		</div>
		 <div id="hiddenHead">	
		 <h1 class="fancy_title">Try the roulette</h1>
		 <h3 class="fancy_title">Win a discount</h3>
		 </div>
		<div id="holster">
			<div id="rollers">
				<div id="rollerBack">
					<img class="fruitmachine-img" id="roller1" alt="A fruit machine tumbler" src="../../assets/1_thumbs.jpg" />
					<img class="fruitmachine-img" id="roller2" alt="A fruit machine tumbler" src="../../assets/1_thumbs.jpg" />
					<img class="fruitmachine-img" id="roller3" alt="A fruit machine tumbler" src="../../assets/1_thumbs.jpg" />
				</div>
			</div>

			<div id="lever">
				<img class="lever" id="leverpic" alt="Fruit machine lever" src="../../assets/lever1.jpg" onclick="startgame(this);"/>
				
			</div>	
	</div>
	</div>
	<div id="sound">
	</div>
            </div>