COUPON CODE GAME!!!

<h2>Take a chance on me!</h2>
            <div class="roulette">
            <div id="pageWrapper">

		<div id="rollers">
			<div id="rollerBack">
				<img id="roller1" class="fm" alt="A fruit machine tumbler" src="../../assets/1.gif" />
				<img id="roller2" class="fm" alt="A fruit machine tumbler" src="../../assets/1.gif" />
				<img id="roller3" class="fm" alt="A fruit machine tumbler" src="../../assets/1.gif" />
			</div>
		</div>

		<div id="lever">
			<img class="lever" id="leverpic" alt="Fruit machine lever" src="../../assets/lever1.jpg" onclick="startgame(this);" />

		</div>	

	<div id="sound">
	</div></div>
            </div>