COUPON CODE GAME!!!

<div id="pageWrapper">
		<div id="mastHead">
		</div>
		 <div id="hiddenHead">	
		 <h1>The One Armed Bandit</h1>
		 </div>
		
		<div id="rollers">
			<div id="rollerBack">
				<img class="fruitmachine-img" id="roller1" alt="A fruit machine tumbler" src="../../assets/1_thumbs.jpg" />
				<img class="fruitmachine-img" id="roller2" alt="A fruit machine tumbler" src="../../assets/1_thumbs.jpg" />
				<img class="fruitmachine-img" id="roller3" alt="A fruit machine tumbler" src="../../assets/1_thumbs.jpg" />
			</div>
		</div>

		<div id="lever">
			<img class="lever" id="leverpic" alt="Fruit machine lever" src="../../assets/lever1.jpg" onclick="startgame(this);"/>
			
		</div>	

	</div>
	<div id="sound">
	</div>
            </div>