       <div class="container">
	
			<section>
				<ul class="lb-album">
					<li>
						<a href="#image-1">
							<img src="../../assets/1_thumbs.jpg" alt="image01">
							<span>Kitty</span>
						</a>
						<div class="lb-overlay" id="image-1">
							<img src="../../assets/1_full.jpg" alt="image01" />
							<div>
								<h3>Kitty <span>from Joanna, WA</h3>
								<p>Full-cover galaxy kitten print on a 100% cotton American Apparel Ottoman Sweatshirt.</p>
								<a href="#image-10" class="lb-prev">Prev</a>
								<a href="#image-2" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-2">
							<img src="../../assets/2_thumbs.jpg" alt="image02">
							<span>Fox</span>
						</a>
						<div class="lb-overlay" id="image-2">
							<img src="../../assets/2_full.jpg" alt="image02" />
							<div>							
								<h3>Fox<span>from Noah, NSW, Australia</h3>
								<p>Noah's shirt features a vibrant fox print on a Fruit of the Loom kids cotton tee.</p>
								<a href="#image-1" class="lb-prev">Prev</a>
								<a href="#image-3" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-3">
							<img src="../../assets/3_thumbs.jpg" alt="image03">
							<span>Rainbow</span>
						</a>
						<div class="lb-overlay" id="image-3">
							<img src="../../assets/3_full.jpg" alt="image03" />
							<div>							
								<h3>Rainbow<span>from Emma, London, UK</h3>
								<p>Large print of original artwork on an American Apparel batwing tee.</p>
								<a href="#image-2" class="lb-prev">Prev</a>
								<a href="#image-4" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-4">
							<img src="../../assets/4_thumbs.jpg" alt="image04">
							<span>Octopus</span>
						</a>
						<div class="lb-overlay" id="image-4">
							<img src="../../assets/4_full.jpg" alt="image04" />
							<div>							
								<h3>Octopus<span>from James, Belfast, UK</h3>
								<p>An original drawing inspired by the Kracken sea monster, printed on an American Apparel v-neck cotton tee.</p>
								<a href="#image-3" class="lb-prev">Prev</a>
								<a href="#image-5" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-5">
							<img src="../../assets/5_thumbs.jpg" alt="image05">
							<span>Kisses</span>
						</a>
						<div class="lb-overlay" id="image-5">
							<img src="../../assets/5_full.jpg" alt="image05" />
							<div>							
								<h3>Kisses<span>from Siobhán, Dublin, IE</h3>
								<p>Kisses print on a 100% cotton Fruit of the Loom womens tee</p>
								<a href="#image-4" class="lb-prev">Prev</a>
								<a href="#image-6" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-6">
							<img src="../../assets/6_thumbs.jpg" alt="image06">
							<span>Moon</span>
						</a>
						<div class="lb-overlay" id="image-6">
							<img src="../../assets/6_full.jpg" alt="image06" />
							<div>							
								<h3>Moon<span>from Mark, Denver, CO</h3>
								<p>Large moonlight owls print on a black Fruit of the Loom mens tee.</p>
								<a href="#image-5" class="lb-prev">Prev</a>
								<a href="#image-7" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-7">
							<img src="../../assets/7_thumbs.jpg" alt="image07">
							<span>Owl</span>
						</a>
						<div class="lb-overlay" id="image-7">
							<img src="../../assets/7_full.jpg" alt="image07" />
							<div>							
								<h3>Owl<span>from Gwyneth, London, UK</h3>
								<p>Colorful owl print on a Fruit of the Loom babygro.</p>
								<a href="#image-6" class="lb-prev">Prev</a>
								<a href="#image-8" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-8">
							<img src="../../assets/8_thumbs.jpg" alt="image08">
							<span>Tiger</span>
						</a>
						<div class="lb-overlay" id="image-8">
							<img src="../../assets/8_full.jpg" alt="image08" />
							<div>							
								<h3>Tiger<span>from Amélie, Paris, FR</h3>
								<p>Original tiger collage printed on American Apparel 100% cotton womens tee.</p>
								<a href="#image-7" class="lb-prev">Prev</a>
								<a href="#image-9" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-9">
							<img src="../../assets/9_thumbs.jpg" alt="image09">
							<span>Planet</span>
						</a>
						<div class="lb-overlay" id="image-9">
							<img src="../../assets/9_full.jpg" alt="image09" />
							<div>							
								<h3>Planet<span>from Verónica, Brooklyn, NY</h3>
								<p>Planetary design printed on Fruit of the Loom womens sweatshirt.</p>
								<a href="#image-8" class="lb-prev">Prev</a>
								<a href="#image-10" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-10">
							<img src="../../assets/10_thumbs.jpg" alt="image10">
							<span>Pineapple</span>
						</a>
						<div class="lb-overlay" id="image-10">
							<img src="../../assets/10_full.jpg" alt="image10" />
							<div>							
								<h3>Pineapple<span>from Kerri, Los Angeles, CA</h3>
								<p>Large tropical pineapple print on an American Apparel womens tee.</p>
								<a href="#image-9" class="lb-prev">Prev</a>
								<a href="#image-1" class="lb-next">Next</a>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
				</ul>
			</section>
        </div>
