
			<h1 class="fancy_title home"> T-shirt types</h1>
			<section class="main">
				
	<section class="tabs">

	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">V-Neck</label>

	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">Vest</label>

	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">Round Neck </label>

	            <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
		        <label for="tab-4" class="tab-label-4">Polo Neck</label>
                
                 <input id="tab-5" type="radio" name="radio-set" class="tab-selector-5" />
		        <label for="tab-5" class="tab-label-5">Hipster</label>



            
			    <div class="clear-shadow"></div>

		        <div class="content">
			        <div class="content-1">
						<h2>V-Neck</h2>
                        <img src="images/8.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Sizes
                        		<ul><li>small</li><li>Medium</li><li>Large</li></ul>
                        	</li>
                            <li>Colour
                            	<ul><li>blue</li><li>white</li><li>red</li></ul>
                            </li>
                        </ul>
                       
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
                     
				    </div>
			        <div class="content-2">
						<h2>Vest</h2>
                       		<img src="images/2.gif"width="250px" height="250px" />
                          <ul class="defs">
                        	<li>Sizes
                        		<ul><li>small</li><li>Medium</li><li>Large</li></ul>
                        	</li>
                            <li>Colour
                            	<ul><li>blue</li><li>white</li><li>red</li></ul>
                            </li>
                        </ul>
                       
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
			        <div class="content-3">
						<h2>Round Neck</h2>
                      		<img src="images/3.gif" width="250px" height="250px" />
                          <ul class="defs">
                        	<li>Sizes
                        		<ul><li>small</li><li>Medium</li><li>Large</li></ul>
                        	</li>
                            <li>Colour
                            	<ul><li>blue</li><li>white</li><li>red</li></ul>
                            </li>
                        </ul>
                       
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
				    <div class="content-4">
						<h2>Polo Neck</h2>
                        <img src="images/1.gif" width="250px" height="250px" />
                       <ul class="defs">
                        	<li>Sizes
                        		<ul><li>small</li><li>Medium</li><li>Large</li></ul>
                        	</li>
                            <li>Colour
                            	<ul><li>blue</li><li>white</li><li>red</li></ul>
                            </li>
                        </ul>
                       
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
                    <div class="content-5">
						<h2>Hispter</h2>
                        <img src="images/4.gif" width="250px" height="250px" />
                        <ul class="defs">
                        	<li>Sizes
                        		<ul><li>small</li><li>Medium</li><li>Large</li></ul>
                        	</li>
                            <li>Colour
                            	<ul><li>blue</li><li>white</li><li>red</li></ul>
                            </li>
                        </ul>
                       
                        <h3>Description</h3>
						<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
				    </div>
                    
		        </div>
			</section>
         </section>