
<style>
      html, body, #map_canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
	
    <div id="map_canvas"></div>
    
    <script type="text/javascript">
 $(document).ready(function() {
 $('#map_canvas').gmap({'zoom':13,'center':new google.maps.LatLng(43.160364,-77.6125717) });
});
        </script>