/*/////////////////// sign in/register page styles //////////////////////////*/
.site-forms {
  position: absolute;
  top: 170px;
  left: 20%;
  width: 40%;
  background-color:white;
  padding:10px 2em 20px;
  @include subtle-border;
  z-index: 1000; }

.site-forms h2 {
  @include devise-form-ul;
   }

.site-forms-title h2 {
  @include devise-form-ul;
  top: 170px;
  position: absolute;
  left: 40%;
  width: 44%;
  z-index: 1000; }

.email ul {
  @include devise-form-ul;
    li{
      display: inline; 
      input{
          @include login-input;
          border: none;
          height: 26px;
          width: 50%;
          margin-top: 10px;
          margin-right: 3em; 
        }
      label{
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.8em;
      }  
    }
  }


.password ul {
  @include devise-form-ul;
    li {
      display: inline;
      input {
          @include login-input;
          border: none;
          height: 26px;
          width: 50%;
          margin-top: 10px;
          margin-right: 10px; 
          }
          label {
              padding-top: 3px;
              padding-bottom: 3px;
              font-size: 0.8em; 
           }
      }
  }


.phonenumber ul {
  @include devise-form-ul; }

.phonenumber ul li {
  display: inline; }

.phonenumber ul li input {
  @include login-input;
  border: none;
  height: 26px;
  width: 190px;
  margin-top: 10px;
  margin-right: 10px; }

.phonenumber ul li label {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.8em; }

.remember-me {
  font-family: EngraversGothic;
  font-size: 1.4em;
  color: #000;
  border: none;
  height: 26px;
  width: 190px;
  margin-top: 10px;
  margin-right: 10px; }

.form-submit input {
  font-family: EngraversGothic;
  font-size: 1.6em;
  color: #fff;
  background-color: #000;
  border: none;
  height: 26px;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px; }

.form-submit ul {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em; }

.form-submit ul li {
  margin-top: 20px;
  padding-top: 7px;
  padding-bottom: 3px;
  font-family: EngraversGothic;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  height: 30px;
  width: 100px; }

.form-submit ul li a:link {
  text-decoration: none !important; }

.forgotten-password {
  font-family: EngraversGothic;
  font-size: 1.4em;
  margin-top: 15px; }

.forgotten-password a:link {
  text-decoration: none;
  color: #000; }

.forgotten-password a:visited {
  text-decoration: none;
  color: #000; }

.forgotten-password a:hover {
  text-decoration: underline;
  color: #000; }

.forgotten-password a:active {
  text-decoration: none;
  color: #000; }


.register-link, .login-link {
  font-family: EngraversGothic;
  font-size: 1.4em;
  margin-top: 15px;
    a{
      color: #000;
      &:link{
        text-decoration: none;
        }
      &:visited {
        text-decoration: none; 
        }
      &:hover {
        text-decoration: underline;
        }
      &:active {
        text-decoration: none;
        }
  
    } 
  }


/*/////////////////// sign in/register page styles end //////////////////////////*/