//this partial is full of site wude custom code

html, body {height:100%;}

body{
  color:$primary-color;
  font-family:sans-serif;
  font-size: 62.5%; 
  line-height: 1; 

  p{
     font-family: 'ProximaNovaLtLight';
  }
}
span.lesbon{color:$color5;}

h1, h2, h3, h4, h5, h6 {font-family:'ProximaNovaLtLight', sans-serif;}

#loginbox{
  float:right;
  width:15%;
  padding:2em;
  
  div{
    float:right;
    font-family: 'ProximaNovaLtLight';
    font-size:0.9em;
  
      ul{
        list-style:none;
        float:right;
    
        li{
          float:left;
          padding-right:0.9em;
          @include shiny(pink);
            &:hover{
              @include shiny(lighten(pink, 10%));
             }
            a{
                color:white;
                text-decoration:none;
            }
           
        }
      }
  }
}

#wrap {min-height: 100%;font-family:sans-serif;margin-top:150px; margin-left: 20%;}
//width of main controlled by skeleton classes

//Header styles//

header{
  background:$sblack;
  width:100%;
  height:210px;
  border-bottom:10px solid $sblack;
  }
header div.logo {
  background-image:url('ariaquen_logo.png');
  background-size:85%;
  background-repeat:no-repeat;
  color:white;
  font-size:4em;
  float:left;
  margin-top:-1%;
  padding-left:3%;
  width:50%;
  height:200px;
  h1{
    color:white;
    font-size:110%;
  }
  h2{
    
    margin-left:15%;
    font-size:70%;
  }
  
}

.banner1 {
  background-image: url("ariabanner1.png");
  background-repeat: no-repeat;
  background-size:100%;
  width:45%;
  height:150px;
  margin-left:25%;
 }


#main {
  border-top:15px solid $sblack;
  background-color:pink;
  overflow:auto;
  width:100%;
  padding:15px 5px 150px ;
  min-height:900px;
  margin:0 auto;
  font-family:sans-serif;
  margin-bottom:10px;
  @include subtle-border;
  }  /* must be same height as the footer */


#footer {
  position: relative;
  margin: 0 auto;
  margin-top: -160px; /* negative value of footer height */
  height: 160px;
  clear:both;
  width:100%;
  background-color:$sblack;

    div{
      color:white;
      padding:10px;
      margin:0 auto;
      h4{
        font-size:3em;
        text-shadow: orchid -2px 2px 0;
        
      }
      }
 
   .f1 {float:left; width:22%;}

  } 


.javascript_includes{display:none;}




/*//////////// JQUERY NAV STYLES //////////////*/

nav,  { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

#w.table { border-collapse: collapse; border-spacing: 0; z-index:1;}
#w.img { border: 0; max-width: 100%; }

/*need to add media queries for this */

#w { 
  position:fixed; 
  background-color:hsla(120, 100%, 100%, 0.8);
  font-family:ROADWAY_ !important;
  left:10px; 
  top: 230px; 
  bottom: 160px;
  width: 13%; 
  min-width:150px;
  padding-top: 45px; 
  z-index:1000;
}


/* nav menu styles */
#nav { 
  display: block; 
  width: 10%; 
  margin: 0 auto;
  font-size:82.5%;
}

#nav li {
  ul { 
  display: none; 
    li{
      width:140px;
    a{
      display: block; 
        background: none;
        padding: 10px, 0px;
        padding-left:30px;
        font-size: 1.6em;
        text-decoration: none;
        line-height:1;
        font-weight: bold;
        color: #000;
    }
    &:hover{
      background: $nav-hover;
    }
    }
  }
 }

#nav > li > a { 
  display: block; 
  padding: 16px 18px;
  font-size: 1.8em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
#nav > li > a:hover, #nav > li > a.open { 
  color: #000;
}

/*/////////////////// JQUERY NAV STYLES END ////////////////////*/





 