//this partial is full of site wude custom code

html, body {height:100%;}

body{
  color:$primary-color;
  font-family:sans-serif;
  font-size: 62.5%; 
  line-height: 1; 

  p{
     font-family: 'ProximaNovaLtLight';
  }
}

h1, h2, h3, h4, h5, h6 {font-family:sans-serif;}

#loginbox{
  float:right;
  width:30%;
  padding:2em;
  background-color:complement($nav-hover); //need to choose colour palette for site 
  div{
    float:right;
    font-family: 'ProximaNovaLtLight';
    font-size:0.9em;
      ul{
        list-style:none;
        float:right;
        li{
          float:left;
          padding-right:0.9em;
          @include shiny($primary-color);
            &:hover{
              @include shiny(lighten($primary-color, 10%));
             }
            a{
                color:white;
                text-decoration:none;
            }
           
        }
      }
  }
}

#wrap {min-height: 100%;font-family:sans-serif;}
//width of main controlled by skeleton classes

//Header styles//

header{
  height:150px;
  border-bottom:10px solid $sblack;
  }

#main {
  background-color:pink;
  overflow:auto;
  padding-bottom: 150px;
  margin:0 auto;
  font-family:sans-serif;
  }  /* must be same height as the footer */


#footer {
  position: relative;
  margin: 0 auto;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  width:100%;

  background-color:$sblack;
    p{
      color:white;
      }
 
   .f1 {float:left; width:22%;}

  } 


.javascript_includes{display:none;}

//lettering.js//
.fancy_title{
 
  color:orange;
    .char1{font-size:1.4em; color:yellow;}
    .char2{font-size:1.3em; color:green; }  
}


/*//////////// JQUERY NAV STYLES //////////////*/

nav,  { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

#w.table { border-collapse: collapse; border-spacing: 0; z-index:1;}
#w.img { border: 0; max-width: 100%; }



#w { 
  position:fixed; 
  font-family:ROADWAY_ !important;
  left: -180px; 
  top: 90px; 
  width: 740px; 
  margin: 0 auto; 
  padding-top: 45px; 
  z-index:1;
}


/* nav menu styles */
#nav { 
  display: block; 
  width: 160px; 
  margin: 0 auto;
  font-size:82.5%;
}

#nav li {
  ul { 
  display: none; 
    li{
      width:140px;
    a{
      display: block; 
        background: none;
        padding: 10px, 0px;
        padding-left:30px;
        font-size: 1.6em;
        text-decoration: none;
        line-height:1;
        font-weight: bold;
        color: #000;
    }
    &:hover{
      background: $nav-hover;
    }
    }
  }
 }

#nav > li > a { 
  display: block; 
  padding: 16px 18px;
  font-size: 1.8em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
#nav > li > a:hover, #nav > li > a.open { 
  color: #000;
}

/*/////////////////// JQUERY NAV STYLES END ////////////////////*/


