//this partial is full of site wude custom code

html {height:100%;}

body{
  color:$primary-color;
  font-family:sans-serif;
  height:100%;
}


#loginbox{
  float:right;
  width:30%;
  padding:10px;
  background-color:hsla(120, 60, 70, 0.9);
  div{
    float:right;
    font-family:sans-serif;
    font-size:0.9em;
      ul{
        list-style:none;
        float:right;
        li{
          float:left;
          padding-right:5px;
        }
      }
  }
}

p.test{background-color:cyan; font-size:100px; text-align:center;clear:both;}

#wrap {min-height: 100%;}

#main {
  width:90%;
  background-color:pink;
  overflow:auto;
  padding-bottom: 150px;
  margin:0 auto;
  }  /* must be same height as the footer */

header{height:150px;}
#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  width:100%;
  background-color:cyan;
    p{color:white;}
  } 

.javascript_includes{display:none;}
