//lettering.js//
.fancy_title{
  font-family:"EngraversGothic", arial, sans-serif;
  font-size:2.1em;
  
 
  color:orange;
    .char1{font-size:1.4em; color:yellow;}
    .char2{font-size:1.3em; color:green; } 
    .char3{font-size:1.3em; color:red; } 
    .char4{font-size:1.3em; color:orange; } 
    .char5{font-size:1.3em; color:cyan; } 
    .char6{font-size:1.3em; color:black; } 
    .char7{font-size:1.3em; color:olive; } 
    .char8{font-size:1.3em; color:green; }  
    .char9{font-size:1.3em; color:green; } 
    .char10{font-size:1.3em; color:green; } 
    .char11{font-size:1.3em; color:olive; } 
    .char12{font-size:1.3em; color:green; } 
    .char13{font-size:1.3em; color:blue; } 
    .char14{font-size:1.3em; color:green; } 
    .char15{font-size:1.3em; color:blue; } 
}



