/*
Syntax error: File to import not found or unreadable: _fonts.scss.
              Load path: /Users/keithmichaelgregg/Documents/Documents/NCI Coursework/Masters/ariaquen
        on line 6 of ./app/assets/stylesheets/application.scss

1: //only put in file links. ALL CSS/SCSS should be saved in its own module, for ease of update. 
2: //Application.CSS updates itself automatically
3: @import "bourbon/_bourbon.scss";//must be the first file in the list.
4: //global reset must be first in code as it resets the vendor defaults
5: @import "_reset.scss";
6: @import "_fonts.scss";
7: 
8: //variables, mixins, functions and global styles and grid with skeleton.css
9: 
10: @import "_variables.scss";
11: @import "_mixins.scss";

Backtrace:
./app/assets/stylesheets/application.scss:6
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/import_node.rb:45:in `import'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:252:in `call'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:252:in `report_changes'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Users/keithmichaelgregg/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: _fonts.scss.\A               Load path: /Users/keithmichaelgregg/Documents/Documents/NCI Coursework/Masters/ariaquen\A         on line 6 of ./app/assets/stylesheets/application.scss\A \A 1: //only put in file links. ALL CSS/SCSS should be saved in its own module, for ease of update. \A 2: //Application.CSS updates itself automatically\A 3: @import \"bourbon/_bourbon.scss\";//must be the first file in the list.\A 4: //global reset must be first in code as it resets the vendor defaults\A 5: @import \"_reset.scss\";\A 6: @import \"_fonts.scss\";\A 7: \A 8: //variables, mixins, functions and global styles and grid with skeleton.css\A 9: \A 10: @import \"_variables.scss\";\A 11: @import \"_mixins.scss\";"; }
