/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Arvo);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'ProximaNovaThThin';
  src: url("fonts/ProximaNova-Thin-webfont.eot");
  src: url("fonts/ProximaNova-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Thin-webfont.woff") format("woff"), url("fonts/ProximaNova-Thin-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThThin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaLtLight';
  src: url("fonts/ProximaNova-Light-webfont.eot");
  src: url("fonts/ProximaNova-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Light-webfont.woff") format("woff"), url("fonts/ProximaNova-Light-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Light-webfont.svg#ProximaNovaLtLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Reg';
  src: url("fonts/ProximaNova-Reg-webfont.eot");
  src: url("fonts/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Reg-webfont.woff") format("woff"), url("fonts/ProximaNova-Reg-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Reg-webfont.svg#ProximaNovaLtLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaRgBold';
  src: url("fonts/ProximaNova-Bold-webfont.eot");
  src: url("fonts/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Bold-webfont.woff") format("woff"), url("fonts/ProximaNova-Bold-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Bold-webfont.svg#ProximaNovaRgBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaThExtrabold';
  src: url("fonts/ProximaNova-Xbold-webfont.eot");
  src: url("fonts/ProximaNova-Xbold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Xbold-webfont.woff") format("woff"), url("fonts/ProximaNova-Xbold-webfont.ttf") format("truetype"), url("fonts/ProximaNova-Xbold-webfont.svg#ProximaNovaThExtrabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "ROADWAY_";
  src: url(fonts/ROADWAY_.ttf);
  src: local("ROADWAY_"), url(fonts/ROADWAY_.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "EngraversGothic";
  src: url(fonts/EngraversGothic.ttf);
  src: local("EngraversGothic"), url(fonts/EngraversGothic.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.row {
  margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  margin-left: 0; }

.column.omega, .columns.omega {
  margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns {
  width: 40px; }

.container .two.columns {
  width: 100px; }

.container .three.columns {
  width: 160px; }

.container .four.columns {
  width: 220px; }

.container .five.columns {
  width: 280px; }

.container .six.columns {
  width: 340px; }

.container .seven.columns {
  width: 400px; }

.container .eight.columns {
  width: 460px; }

.container .nine.columns {
  width: 520px; }

.container .ten.columns {
  width: 580px; }

.container .eleven.columns {
  width: 640px; }

.container .twelve.columns {
  width: 700px; }

.container .thirteen.columns {
  width: 760px; }

.container .fourteen.columns {
  width: 820px; }

.container .fifteen.columns {
  width: 880px; }

.container .sixteen.columns {
  width: 940px; }

.container .one-third.column {
  width: 300px; }

.container .two-thirds.column {
  width: 620px; }

/* Offsets */
.container .offset-by-one {
  padding-left: 60px; }

.container .offset-by-two {
  padding-left: 120px; }

.container .offset-by-three {
  padding-left: 180px; }

.container .offset-by-four {
  padding-left: 240px; }

.container .offset-by-five {
  padding-left: 300px; }

.container .offset-by-six {
  padding-left: 360px; }

.container .offset-by-seven {
  padding-left: 420px; }

.container .offset-by-eight {
  padding-left: 480px; }

.container .offset-by-nine {
  padding-left: 540px; }

.container .offset-by-ten {
  padding-left: 600px; }

.container .offset-by-eleven {
  padding-left: 660px; }

.container .offset-by-twelve {
  padding-left: 720px; }

.container .offset-by-thirteen {
  padding-left: 780px; }

.container .offset-by-fourteen {
  padding-left: 840px; }

.container .offset-by-fifteen {
  padding-left: 900px; }

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; }

  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px; }

  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }

  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }

  .alpha.omega {
    margin-left: 0;
    margin-right: 0; }

  .container .one.column,
  .container .one.columns {
    width: 28px; }

  .container .two.columns {
    width: 76px; }

  .container .three.columns {
    width: 124px; }

  .container .four.columns {
    width: 172px; }

  .container .five.columns {
    width: 220px; }

  .container .six.columns {
    width: 268px; }

  .container .seven.columns {
    width: 316px; }

  .container .eight.columns {
    width: 364px; }

  .container .nine.columns {
    width: 412px; }

  .container .ten.columns {
    width: 460px; }

  .container .eleven.columns {
    width: 508px; }

  .container .twelve.columns {
    width: 556px; }

  .container .thirteen.columns {
    width: 604px; }

  .container .fourteen.columns {
    width: 652px; }

  .container .fifteen.columns {
    width: 700px; }

  .container .sixteen.columns {
    width: 748px; }

  .container .one-third.column {
    width: 236px; }

  .container .two-thirds.column {
    width: 492px; }

  /* Offsets */
  .container .offset-by-one {
    padding-left: 48px; }

  .container .offset-by-two {
    padding-left: 96px; }

  .container .offset-by-three {
    padding-left: 144px; }

  .container .offset-by-four {
    padding-left: 192px; }

  .container .offset-by-five {
    padding-left: 240px; }

  .container .offset-by-six {
    padding-left: 288px; }

  .container .offset-by-seven {
    padding-left: 336px; }

  .container .offset-by-eight {
    padding-left: 384px; }

  .container .offset-by-nine {
    padding-left: 432px; }

  .container .offset-by-ten {
    padding-left: 480px; }

  .container .offset-by-eleven {
    padding-left: 528px; }

  .container .offset-by-twelve {
    padding-left: 576px; }

  .container .offset-by-thirteen {
    padding-left: 624px; }

  .container .offset-by-fourteen {
    padding-left: 672px; }

  .container .offset-by-fifteen {
    padding-left: 720px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px; }

  .container .columns,
  .container .column {
    margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px; }

  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px; }

  .container .columns,
  .container .column {
    margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

html, body {
  height: 100%; }

body {
  color: #336699;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1; }
  body p {
    font-family: 'ProximaNovaLtLight'; }

span.lesbon {
  color: #909090; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; }

#loginbox {
  float: right;
  width: 30%;
  padding: 2em;
  background-color: #e8e8e8; }
  #loginbox div {
    float: right;
    font-family: 'ProximaNovaLtLight';
    font-size: 0.9em; }
    #loginbox div ul {
      list-style: none;
      float: right; }
      #loginbox div ul li {
        float: left;
        padding-right: 0.9em;
        border: 1px solid #000048;
        border-bottom: 1px solid #00001f;
        border-radius: 5px;
        box-shadow: inset 0 1px 0 0 #5883a5;
        color: white;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        background-color: #336699;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #336699), color-stop(50%, #003478), color-stop(50%, #001b69), color-stop(100%, #00206b));
        background-image: -webkit-linear-gradient(top, #336699 0%, #003478 50%, #001b69 50%, #00206b 100%);
        background-image: linear-gradient(to bottom,#336699 0%, #003478 50%, #001b69 50%, #00206b 100%);
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 -1px 1px #000027; }
        #loginbox div ul li:hover:not(:disabled) {
          cursor: pointer;
          background-color: #265787;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #265787), color-stop(50%, #002866), color-stop(50%, #001157), color-stop(100%, #00165a));
          background-image: -webkit-linear-gradient(top, #265787 0%, #002866 50%, #001157 50%, #00165a 100%);
          background-image: linear-gradient(to bottom,#265787 0%, #002866 50%, #001157 50%, #00165a 100%); }
        #loginbox div ul li:active:not(:disabled) {
          box-shadow: inset 0 0 20px 0 #00001f, 0 1px 0 white; }
        #loginbox div ul li:hover {
          border: 1px solid #00106e;
          border-bottom: 1px solid #000045;
          border-radius: 5px;
          box-shadow: inset 0 1px 0 0 #659ccb;
          color: white;
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          background-color: #407fbf;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #407fbf), color-stop(50%, #084d9e), color-stop(50%, #00348f), color-stop(100%, #003991));
          background-image: -webkit-linear-gradient(top, #407fbf 0%, #084d9e 50%, #00348f 50%, #003991 100%);
          background-image: linear-gradient(to bottom,#407fbf 0%, #084d9e 50%, #00348f 50%, #003991 100%);
          padding: 8px 20px;
          text-align: center;
          text-decoration: none;
          text-shadow: 0 -1px 1px #00004d; }
          #loginbox div ul li:hover:hover:not(:disabled) {
            cursor: pointer;
            background-color: #3370ad;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3370ad), color-stop(50%, #00418c), color-stop(50%, #002a7d), color-stop(100%, #002f80));
            background-image: -webkit-linear-gradient(top, #3370ad 0%, #00418c 50%, #002a7d 50%, #002f80 100%);
            background-image: linear-gradient(to bottom,#3370ad 0%, #00418c 50%, #002a7d 50%, #002f80 100%); }
          #loginbox div ul li:hover:active:not(:disabled) {
            box-shadow: inset 0 0 20px 0 #000b45, 0 1px 0 white; }
        #loginbox div ul li a {
          color: white;
          text-decoration: none; }

#wrap {
  min-height: 100%;
  font-family: sans-serif;
  margin-top: 150px;
  margin-left: 20%; }

header {
  background: #050311;
  width: 100%;
  height: 150px;
  border-bottom: 10px solid #050311; }

header div.logo {
  color: white;
  font-size: 3em;
  float: left;
  padding-top: 8px;
  padding-left: 3%; }
  header div.logo h1 {
    color: white; }
  header div.logo h2 {
    margin-left: 15%; }

#main {
  border-top: 15px solid #050311;
  background-color: pink;
  overflow: auto;
  width: 100%;
  padding: 15px 5px 150px;
  min-height: 900px;
  margin: 0 auto;
  font-family: sans-serif;
  margin-bottom: 10px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8; }

/* must be same height as the footer */
#footer {
  position: relative;
  margin: 0 auto;
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  width: 100%;
  background-color: #050311; }
  #footer p {
    color: white; }
  #footer .f1 {
    float: left;
    width: 22%; }

.javascript_includes {
  display: none; }

/*//////////// JQUERY NAV STYLES //////////////*/
nav {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

#w.table {
  border-collapse: collapse;
  border-spacing: 0;
  z-index: 1; }

#w.img {
  border: 0;
  max-width: 100%; }

/*need to add media queries for this */
#w {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: ROADWAY_ !important;
  left: 10px;
  top: 160px;
  bottom: 160px;
  width: 13%;
  min-width: 150px;
  padding-top: 45px;
  z-index: 1000; }

/* nav menu styles */
#nav {
  display: block;
  width: 10%;
  margin: 0 auto;
  font-size: 82.5%; }

#nav li ul {
  display: none; }
  #nav li ul li {
    width: 140px; }
    #nav li ul li a {
      display: block;
      background: none;
      padding: 10px, 0px;
      padding-left: 30px;
      font-size: 1.6em;
      text-decoration: none;
      line-height: 1;
      font-weight: bold;
      color: #000; }
    #nav li ul li:hover {
      background: #e8e8e8; }

#nav > li > a {
  display: block;
  padding: 16px 18px;
  font-size: 1.8em;
  font-weight: bold;
  color: #000;
  text-decoration: none; }

#nav > li > a:hover, #nav > li > a.open {
  color: #000; }

/*/////////////////// JQUERY NAV STYLES END ////////////////////*/
/*////////////////// JQUERY GALLERY STYLES ////////////////////*/
ul {
  list-style: none; }

h2.gallery-title {
  font-family: Arvo, Arial, sans-serif;
  font-size: 30px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px; }

p.gallery-subtitle {
  font-family: Georgia, Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 100;
  color: white; }

section#jquery-gallery {
  max-width: 100%;
  width: 800px;
  min-height: 100%;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: #333333;
  box-shadow: 0 0 10px;
  /* @group Fullimage */
  /* @end */
  /* @group Smallimages */ }

section#jquery-gallery #fullPreview {
  background-color: #333333;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  padding: 50px 0 30px 0;
  display: none; }

section#jquery-gallery #fullPreview img,
section#jquery-gallery #fullPreview .fullCaption {
  max-width: 450px;
  max-height: 450px;
  margin: 0 auto;
  display: block; }

section#jquery-gallery #fullPreview .fullCaption {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  color: white;
  margin: 15px auto 0 auto; }

section#jquery-gallery #fullPreview figure {
  background-image: url("../img/effects/close.png");
  background-size: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; }

section#jquery-gallery li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  /* @group Over */
  /* @group Description */
  /* @end *
  /* @end */ }

section#jquery-gallery li:hover .overLayer {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0.6;
  display: block;
  background: gray; }

section#jquery-gallery li:hover .infoLayer {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 1;
  display: block; }

section#jquery-gallery li a {
  display: block;
  width: 149px;
  height: 149px;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 6; }

section#jquery-gallery li a.spinner {
  background-size: 100%;
  background-image: url("../img/effects/spinner.gif");
  width: 50px;
  height: 50px;
  position: absolute;
  left: 95px;
  top: 60px; }

section#jquery-gallery li img {
  border: none;
  margin: 10px 10px 0 0; }

section#jquery-gallery li img.thumb {
  border: none;
  margin: 10px 10px 0 0;
  width: 149px;
  height: 149px; }

section#jquery-gallery li .overLayer,
section#jquery-gallery li .infoLayer {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  width: 149px;
  height: 149px;
  position: absolute;
  text-align: center;
  opacity: 0;
  top: 10px;
  left: 0;
  z-index: 4;
  /* @end */ }

section#jquery-gallery li .overLayer ul,
section#jquery-gallery li .infoLayer ul {
  padding: 50px 0 0 0; }

section#jquery-gallery li .overLayer ul li,
section#jquery-gallery li .infoLayer ul li {
  display: block;
  margin: 0 auto;
  width: 149px;
  padding: 0 0 5px 0; }

section#jquery-gallery li .overLayer ul li:first-child,
section#jquery-gallery li .infoLayer ul li:first-child {
  border-bottom: 2px white solid; }

section#jquery-gallery li .overLayer ul li:last-child,
section#jquery-gallery li .infoLayer ul li:last-child {
  padding: 5px 0 0 0;
  text-transform: lowercase; }

section#jquery-gallery li .overLayer ul li h2,
section#jquery-gallery li .infoLayer ul li h2 {
  font-size: 25px; }

section#jquery-gallery li .projectInfo {
  display: none; }

/*////////////////// JQUERY GALLERY STYLES END ///////////////////*/
/* **************************************************************************
2.1               Fruit machine 
********************************************************************************/
img.lever {
  border: none; }

img {
  border: 3px solid #868788; }

#pageWrapper {
  z-index: 1;
  width: 700px;
  margin-right: auto;
  margin-left: auto; }

#hiddenHead {
  position: absolute;
  top: -500px; }

#mastHead {
  height: 200px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/masthead.jpg);
  background-position: center top;
  background-repeat: no-repeat; }

#rollers {
  margin-left: -70px;
  width: 900px;
  height: 150px;
  background-color: transparent; }

#rollerBack {
  width: 900px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/banditback.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: transparent; }

#rollers img {
  border-radius: 30px; }

#lever {
  margin-top: 100px;
  text-align: center;
  cursor: pointer; }

/*/////////////////////// fruit machine end /////////////////////////////*/
.fancy_title {
  font-family: "EngraversGothic", arial, sans-serif;
  font-size: 2.1em;
  color: orange;
  text-shadow: #9c8b26 -4px 4px 0; }
  .fancy_title .char1 {
    font-size: 1.4em;
    color: yellow; }
  .fancy_title .char2 {
    font-size: 1.3em;
    color: green; }
  .fancy_title .char3 {
    font-size: 1.3em;
    color: red; }
  .fancy_title .char4 {
    font-size: 1.3em;
    color: orange; }
  .fancy_title .char5 {
    font-size: 1.3em;
    color: cyan; }
  .fancy_title .char6 {
    font-size: 1.3em;
    color: black; }
  .fancy_title .char7 {
    font-size: 1.3em;
    color: olive; }
  .fancy_title .char8 {
    font-size: 1.3em;
    color: green; }
  .fancy_title .char9 {
    font-size: 1.3em;
    color: green; }
  .fancy_title .char10 {
    font-size: 1.3em;
    color: green; }
  .fancy_title .char11 {
    font-size: 1.3em;
    color: olive; }
  .fancy_title .char12 {
    font-size: 1.3em;
    color: green; }
  .fancy_title .char13 {
    font-size: 1.3em;
    color: blue; }
  .fancy_title .char14 {
    font-size: 1.3em;
    color: green; }
  .fancy_title .char15 {
    font-size: 1.3em;
    color: blue; }

h2.fancy_title {
  color: White;
  font-family: sans-serif;
  font-size: 2.8em;
  margin: 10px 0 -50px;
  background-color: rgba(191, 64, 149, 0.5);
  border-radius: 60px; }

.fancy_title .char1, .fancy_title .char5, .fancy_title .char9 {
  color: #9947eb; }

.fancy_title .char1:hover, .fancy_title .char5:hover, .fancy_title .char9:hover {
  color: #477eeb;
  -webkit-transform: rotate(85deg) !important; }

.fancy_title .char2, .fancy_title .char6, .fancy_title .char10 {
  color: #f5f53d;
  -webkit-transform: rotate(15deg) !important;
  margin-left: -5px; }

.fancy_title .char2:hover, .fancy_title .char6:hover, .fancy_title .char10:hover {
  color: #3df5b8;
  -webkit-transform: rotate(-15deg) !important; }

.fancy_title .char3, .fancy_title .char7, .fancy_title .char11 {
  color: #47ebeb;
  margin-left: -5px; }

.fancy_title .char3:hover, .fancy_title .char7:hover, .fancy_title .char11:hover {
  color: #ffb366;
  -webkit-transform: rotate(15deg) !important; }

/*/////////////////// sign in/register page styles //////////////////////////*/
.site-forms {
  position: absolute;
  top: 170px;
  left: 20%;
  width: 40%;
  background-color: white;
  padding: 10px 2em 20px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  z-index: 1000; }

.site-forms h2 {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em; }

.site-forms-title h2 {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em;
  top: 170px;
  position: absolute;
  left: 40%;
  width: 44%;
  z-index: 1000; }

.email ul {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em; }
  .email ul li {
    display: inline; }
    .email ul li input {
      color: #000;
      background-color: #d6d6d2;
      border: none;
      height: 26px;
      width: 50%;
      margin-top: 10px;
      margin-right: 3em; }
    .email ul li label {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 0.8em; }

.password ul {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em; }
  .password ul li {
    display: inline; }
    .password ul li input {
      color: #000;
      background-color: #d6d6d2;
      border: none;
      height: 26px;
      width: 50%;
      margin-top: 10px;
      margin-right: 10px; }
    .password ul li label {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 0.8em; }

.phonenumber ul {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em; }

.phonenumber ul li {
  display: inline; }

.phonenumber ul li input {
  color: #000;
  background-color: #d6d6d2;
  border: none;
  height: 26px;
  width: 190px;
  margin-top: 10px;
  margin-right: 10px; }

.phonenumber ul li label {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.8em; }

.remember-me {
  font-family: EngraversGothic;
  font-size: 1.4em;
  color: #000;
  border: none;
  height: 26px;
  width: 190px;
  margin-top: 10px;
  margin-right: 10px; }

.form-submit input {
  font-family: EngraversGothic;
  font-size: 1.6em;
  color: #fff;
  background-color: #000;
  border: none;
  height: 26px;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px; }

.form-submit ul {
  list-style-type: none;
  font-family: EngraversGothic;
  font-size: 2em; }

.form-submit ul li {
  margin-top: 20px;
  padding-top: 7px;
  padding-bottom: 3px;
  font-family: EngraversGothic;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  height: 30px;
  width: 100px; }

.form-submit ul li a:link {
  text-decoration: none !important; }

.forgotten-password {
  font-family: EngraversGothic;
  font-size: 1.4em;
  margin-top: 15px; }

.forgotten-password a:link {
  text-decoration: none;
  color: #000; }

.forgotten-password a:visited {
  text-decoration: none;
  color: #000; }

.forgotten-password a:hover {
  text-decoration: underline;
  color: #000; }

.forgotten-password a:active {
  text-decoration: none;
  color: #000; }

.register-link, .login-link {
  font-family: EngraversGothic;
  font-size: 1.4em;
  margin-top: 15px; }
  .register-link a, .login-link a {
    color: #000; }
    .register-link a:link, .login-link a:link {
      text-decoration: none; }
    .register-link a:visited, .login-link a:visited {
      text-decoration: none; }
    .register-link a:hover, .login-link a:hover {
      text-decoration: underline; }
    .register-link a:active, .login-link a:active {
      text-decoration: none; }

/*/////////////////// sign in/register page styles end //////////////////////////*/
h1 {
  color: blue;
  text-align: center;
  font-size: 2.1em; }

p.hello {
  float: left;
  width: 40%; }

#affiliates-container {
  width: 80%;
  margin: -10px auto; }

#affiliates-headings {
  position: absolute;
  top: 60px;
  left: 16%;
  width: 30%;
  z-index: 4000;
  font-family: Engraversgothic;
  font-size: 1.6em;
  text-align: center; }
  #affiliates-headings p {
    margin-top: 80px; }

#user-wrap {
  position: absolute;
  top: 260px;
  left: 17%;
  width: 30%;
  z-index: 4000;
  font-family: Engraversgothic;
  font-size: 14pt;
  text-align: left; }

#user-wrap p {
  width: 320px; }

#users li a:link {
  color: #000;
  text-decoration: none; }

#users li a:visited {
  color: #000;
  text-decoration: none; }

#users li a:hover {
  color: #000;
  text-decoration: underline; }

#users li a:active {
  color: #000;
  text-decoration: none; }

#feed {
  position: absolute;
  top: 100px;
  left: 500px;
  width: 400px;
  color: #000;
  float: left; }

p#feed a {
  width: 100px;
  height: 100px;
  border: 10px !important; }

p#feed img {
  width: 100px;
  height: 100px;
  border: 10px !important;
  border-radius: 5px;
  padding: 2px; }

#feed span img {
  position: absolute;
  top: 195px;
  left: 195px;
  width: 30px;
  height: 30px; }

div.tri {
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0.5px;
  border-right-color: red; }

/*////////////////////// GALLERY STYLES ///////////////////////*/
.lb-album {
  width: 900px;
  margin: 0 auto;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; }

.lb-album li {
  float: left;
  margin: 5px;
  position: relative; }

.lb-album li > a,
.lb-album li > a img {
  display: block; }

.lb-album li > a {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 10px;
  background: #f1d2c2;
  -webkit-box-shadow: 1px 1px 2px white, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
  -moz-box-shadow: 1px 1px 2px white, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
  box-shadow: 1px 1px 2px white, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 4px; }

.lb-album li > a span {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 10px;
  left: 10px;
  text-align: center;
  line-height: 150px;
  color: rgba(27, 54, 81, 0.8);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  font-size: 24px;
  opacity: 0;
  filter: alpha(opacity=0);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  /*IE8*/
  background: #f1d2c2;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, #f1d2c2));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: radial, ellipse cover center, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.lb-album li > a:hover span {
  opacity: 1;
  filter: alpha(opacity=99);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  /*IE8*/ }

.lb-overlay {
  width: 0px;
  height: 0px;
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 99;
  text-align: center;
  background: #f1d2c2;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, #f1d2c2));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%);
  background: radial, ellipse cover center, rgba(255, 255, 255, 0.56) 0%, #f1d2c2 100%; }

.lb-overlay > div {
  position: relative;
  color: rgba(27, 54, 81, 0.8);
  width: 550px;
  height: 80px;
  margin: 40px auto 0px auto;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); }

.lb-overlay div h3,
.lb-overlay div p {
  padding: 0px 20px;
  width: 200px;
  height: 60px; }

.lb-overlay div h3 {
  font-size: 36px;
  float: left;
  text-align: right;
  border-right: 1px solid rgba(27, 54, 81, 0.4); }

.lb-overlay div h3 span,
.lb-overlay div p {
  font-size: 16px;
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-style: italic; }

.lb-overlay div h3 span {
  display: block;
  line-height: -20px; }

.lb-overlay div p {
  font-size: 14px;
  text-align: left;
  float: left;
  width: 260px; }

.lb-overlay a.lb-close {
  background: rgba(27, 54, 81, 0.8);
  z-index: 1001;
  color: #fff;
  position: absolute;
  top: 43px;
  left: 50%;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  width: 50px;
  height: 23px;
  overflow: hidden;
  margin-left: -25px;
  opacity: 0;
  filter: alpha(opacity=0);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  /*IE8*/
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.lb-overlay img {
  /* height: 100%; For Opera max-height does not seem to work */
  max-height: 100%;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  /*IE8*/
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }

.lb-prev, .lb-next {
  text-indent: -9000px;
  position: absolute;
  top: -32px;
  width: 24px;
  height: 25px;
  left: 50%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
  /*IE8*/ }

.lb-prev:hover, .lb-next:hover {
  opacity: 1;
  filter: alpha(opacity=99);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  /*IE8*/ }

.lb-prev {
  margin-left: -30px;
  background: transparent url(../images/arrows.png) no-repeat top left; }

.lb-next {
  margin-left: 6px;
  background: transparent url(../../images/arrows.png) no-repeat top right; }

.lb-overlay:target {
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  padding: 80px 100px 120px 100px; }

.lb-overlay:target img,
.lb-overlay:target a.lb-close {
  opacity: 1;
  filter: alpha(opacity=99);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  /*IE8*/ }

/* 
  100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
  http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
  height: 100%; }

/*////////////////////// GALLERY STYLES END ///////////////////////*/
