<footer id="footer">
	<div class="f0">
		<div class="f1">
			<h4 class="fancy_title">Find us on Twitter</h4>
			<p><a href="https://twitter.com/keithmiketom" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @keithmiketom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
		<p><a href="https://twitter.com/samccormack" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @samccormack</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
		<p><a href="https://twitter.com/foxylatina" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @foxylatina</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
		</div>
		<div class="f1">
			<p>&nbsp;</p>
		</div>
		<div class="f1">
			<h4 class="fancy_title">Our News</h4>
			<p>We have no news</p>
		</div>
		<div class="f1">
		</div>
	</div>
</footer>	
