<footer id="footer">
	<div class="f0">
		<div class="f1">
			<p>this is the footer</p>
		</div>
		<div class="f1">
			<p>this is the footer</p>
		</div>
		<div class="f1">
			<p>this is the footer</p>
		</div>
		<div class="f1">
			<p>this is the footer</p>
		</div>
	</div>
</footer>	
