<nav class="two columns">
  <div id="w">
    
      <ul id="nav" class ="nav">
        <li><a href="#" class="dontfollow" rel="nofollow">CLOTHING</a>
          <ul>
            <li style="font-size:1em"><a href="#">WOMAN</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Tops/Womens">TSHIRTS</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Sweaters/Womens">SWEATERS</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Dresses/Womens">DRESSES</a></li>
            <li style="font-size:1em"><a href="#">MAN</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Tops/Mens">TSHIRTS</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Sweaters/Mens">SWEATERS</a></li>
            <li style="font-size:1em"><a href="#">KIDS</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Tops/Kids">TOPS</a></li>
            <li style="font-size:0.8em"><a href="/search_by_category/Dresses/Kids">DRESSES</a></li>
          </ul>
        </li>
        <li><a class="dontfollow" href="#" rel="nofollow">GALLERY</a>
          <ul>
            <li><a href="/site/gallery">GALLERY</a></li>
            <li><a href="/site/affiliates">AFFILIATES</a></li>
            <li><a href="/site/testimonials">REVIEWS</a></li>
            <li><a href="/site/discounts">COUPONS</a></li>
          </ul>
        </li>
        <li><a class="dontfollow" href="#" rel="nofollow">INFO</a>
          <ul>
            <li><a href="/site/blog">SOCIAL MEDIA</a></li>
            <li><a href="/site/about">ABOUT</a></li>
            <li><a href="/site/contact">CONTACT</a></li>
            <li><a href="/site/store_locator">STORE LOCATOR</a></li>
          </ul>
        </li>
        <li><a class="dontfollow" href="#" rel="nofollow">NEWSLETTER</a>
          <ul>
            <li><a href="#">SIGNUP</a></li>
          </ul>
        </li>
      </ul>
    
  </div>
</nav>





